@import "@/assets/css/reset.scss";

.section {
    background: url('@/assets/images/intro.png') center center /cover no-repeat;
    color: var(--text);
    .secInner {
        padding-top: 20%;
        display: flex;
        justify-content: space-around;
        h3 {
            font-size: 2.5rem;
        }
        h4 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.8rem;
            padding-top: 3%;
        }
        .introLeft {
            width: 40%;
        }
        .introRight {
            width: 40%;
        }
        
    }
}
@media (max-width: $tablet) {
    .section {
        .secInner {
            padding: 20% 30px 30px;
            display: block;
            .introLeft {
                width: 100%;
            }
            .introRight {
                width: 100%;
            }
        }
    }
}