@import "@/assets/css/reset.scss";

.section {
    .colorBg {
        background: rgba(0,0,0,0.5);
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
    }
    background: url('@/assets/images/intro.png') center center /cover no-repeat;
    color: var(--text);
    .secInner {
        padding-top: 20%;
        display: flex;
        justify-content: space-around;
        h3 {
            font-size: 2.5rem;
        }
        h4 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.8rem;
            padding-top: 3%;
        }
        .introLeft {
            width: 40%;
        }
        .introRight {
            width: 40%;
        }
        
    }
}
@media (max-width: $tablet) {
    .section {
        .secInner {
            padding: 28% 30px 30px;
            display: block;
            span {
                font-size: 1.9rem;
                font-weight: 700;
                display: block;
                padding-bottom: 7%;
            }
            h4 {
                font-size: 2.3rem;
            }
            p {
                font-size: 1.5rem;
                padding-top: 3%;
            }
            .introLeft {
                padding-bottom: 22%;
                width: 100%;
            }
            .introRight {
                width: 100%;
            }
        }
    }
}
@media (max-width: $Smobile) {
    .section {
        .secInner {
            span {
                font-size: 1.3rem;
                font-weight: 700;
            }
            h4 {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.2rem;
                padding-top: 3%;
            }
            .introLeft {
                padding-bottom: 33%;
                width: 100%;
            }
        }
    }
}