@import "@/assets/css/reset.scss";

.section {background: var(--bg); height: 100%;}
.main_inner {
    padding: 120px 30px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    .profile {
        float: left;
        width: 22%;
        height: 50%;
        text-align: center;
        margin-right: 4%;
        &:nth-child(4n) {
            margin-right: 0;
        }
        .profImg {
            margin: 0 auto;
            width: 100%;
            img {
                border-radius: 20px;
                width: 100%;
                height: 300px;
            }
        }
        .profTxt {
            padding: 5% 0;
            text-align: center;
        }
        .profSns {
            padding-bottom: 5%;
            a {
                font-size: 10vw;
                padding: 0 10px;
            }
        }
    }
}
@media screen and (min-width: $mobile) and (max-width: $tablet) {
    .main_inner {
        .profile {
            width: 48%;
            &:nth-child(2n) {
                margin-right: 0;
            }
            .profImg {
                img {
                    width: 45vw;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .main_inner {
        .profile {
            width: 100%;
            .profImg {
                img {
                    width: 100%;
                }
            }
        }
    }
}