footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #737373;
    color: var(--text);
    .foot_inner {
        width: 63%;
        h4 {
            color: var(--text);
            font-size: 3.5rem;
        }
        .foot_contact {
            .mail_form {
                input {
                    width: 30%;
                    height: 32px;
                    background-color: #D9D9D9;
                }
                span {
                    display: block;
                    font-size: 1.2rem;
                }
            }
            .ms {
                margin: 1vw 0;
                #message {
                    background-color: #D9D9D9;
                }
            }
            .mail_submit {
                    width: 200px;
                    background: var(--point);
                    border-radius: 15px;
                    text-align: center;
                    display: block;
                .submit {
                    font-weight: 700;
                    padding: 1vw;
                    font-size: 1.5rem;
                    color: var(--text);
                }
            }   
        }
        .foot_info {
            padding-top: 1vw;
            .info {
                font-size: 1.2rem;
                .copy {
                    font-size: 1rem;
                    padding-top: 1vw;
                }
            }
        }
    }
    
}