@import "@/assets/css/reset.scss";

#footer {
    background-color: #737373;
    color: var(--text);
    height: 40vh;
    .foot_inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 4% 4% 0;
        h4 {
            color: var(--text);
            font-size: 3rem;
        }
        .foot_contact {
            .mail_form {
                input {
                    width: 30%;
                    height: 32px;
                    background-color: #D9D9D9;
                }
                span {
                    display: block;
                    font-size: 1.2rem;
                }
            }
            .ms {
                margin: 1vw 0;
                #message {
                    background-color: #D9D9D9;
                }
            }
            .mail_submit {
                    width: 200px;
                    background: var(--point);
                    border-radius: 15px;
                    text-align: center;
                    display: block;
                .submit {
                    font-weight: 700;
                    padding: 1vw;
                    font-size: 1.5rem;
                    color: var(--text);
                }
            }   
        }
        .foot_info {
            .sns {
                padding: 4% 0 2%;
                a{
                    display: inline-block;
                    padding-right: 2%;
                    img{
                    }
                }
            }
            .info {
                font-size: 1rem;
                .copy {
                    font-size: 0.8rem;
                    padding-top: 5%;
                }
            }
        }
    }
    
}
@media (max-width: $mobile) {
    #footer {
        .foot_inner {
            justify-content: center;
            h4 {
                font-size: 2.3rem;
            }
            .foot_info {
                padding: 0;
            }
        }
    }
}
@media (max-width: $Smobile) {
    #footer {
        height: 50vh;
        .foot_inner {
            font-size: 1rem;
            h4 {
                font-size: 2.1rem;
            }
            .foot_info {
                .info{
                    font-size: 0.8rem;
                }
                
            }
        }
    }
}