footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #737373;
    color: var(--text);
    .foot_inner {
        width: 60%;
        h4 {
            color: var(--text);
            font-size: 3rem;
        }
        .foot_contact {
            .mail_submit {
                    width: 200px;
                    background: var(--point);
                    border-radius: 15px;
                    text-align: center;
                .submit {
                    font-weight: 700;
                    padding: 1vw;
                    font-size: 1.5rem;
                    color: var(--text);
                }
            }   
        }
        .foot_info {
            .info {
                font-size: 1rem;
            }
        }
    }
    
}