header {
    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .header_inner {
        max-width: 1920px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
    }
    .logo { width: 20%;}
    nav {
        width: 80%;
        ul.nav {
            display: flex;
            justify-content: space-between;
            li {
                width: 20%;
                a{
                    display: block;
                }
            }
        }
    }
    ul.subNav{
        li{
        }
    }
}