@import './reset.scss';

h3 {
  font-size: 2.5rem;
  color: var(--text);
}
p {font-size: 1.5rem;}
* {
  font-family: 'Montserrat', sans-serif;
}
.section {
    width: 100%;
    height: 100vh;
    position: relative;
    .secInner {
      padding: 120px 60px;
    }
    .playBtn {
      position: absolute;
      width: 50px;
      bottom: 10%;
      right: 10%;
      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
  .sec_tit {
    padding: 2vw 5vw 1vw;
    h3 {
    font-size: 3rem;
    }
  }
.main {
    .main_inner {
        width: 1200px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #fff;
        padding: 20% 4% 0;
        .main_tit{
        }
        .main_txt{
            padding: 1vw 0;
            font-size: 1.5rem;
        }
        
    }
}
.main_btn {
  margin: 2vw auto;
  width: 200px;
  background: var(--point);
  border-radius: 15px;
  font-size: 1.5rem;
  text-align: center;
  a {
      color: #fff;
      font-weight: 700;
      display: block;
      padding: 1vw;
  }
}
@media (max-width: $tablet) {
  .main {
    .main_inner {
      padding: 80% 4% 0;
    }
  }
}
@media (max-width: $mobile){
  
  .main {
    .main_inner {
        padding: 77% 4% 0;
        width: 90%;
        .main_tit {
          padding-bottom: 5%;
        }
    }
  }
  p {
    font-size: 1.3rem;
    text-align: left;
  }
  .main_btn {
    margin: 5vw auto;
    width: 200px;
    a {
      padding: 2vw;
    }
  }
  .sec_tit {
    padding: 5%;
  }
}
@media (max-width: $Smobile){
  .main {
    .main_inner {
        padding: 110% 4% 0;
    }
  }
  p {font-size: 1.1rem;}
  h3 {font-size: 1.5rem;}
  .main_btn {
    width: 180px;
    font-size: 1.3rem;
    margin: 0 auto;
  }
  .sec_tit {

    h3 {
    font-size: 2.2rem;
    }
  }
}