@import './reset.scss';

h3 {font-size: 2.5rem;}
p {font-size: 1.5rem;}
* {
  font-family: 'Montserrat', sans-serif;
}
.section {
    width: 100%;
    height: 100vh;
    position: relative;
    .secInner {
      padding: 120px 60px;
    }
    .playBtn {
      position: absolute;
      width: 50px;
      bottom: 10%;
      right: 10%;
      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
  .sec_tit {
    padding: 2vw 5vw 1vw;
    h3 {
    font-size: 3rem;
    }
}
.main {
    display: flex;
    justify-content: center;
    height: 50vw;
    .main_inner {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        width: 50%;
        color: #fff;
        padding-top: 20vw;
        .main_tit{
        }
        .main_txt{
            padding: 1vw 0;
            font-size: 1.5rem;
        }
        
    }
}
.main_btn {
  margin: 2vw auto;
  width: 200px;
  background: var(--point);
  border-radius: 15px;
  font-size: 1.5rem;
  text-align: center;
  a {
      color: #fff;
      font-weight: 700;
      display: block;
      padding: 1vw;
  }
}
@media (max-width: $tablet) {
  .main {
    .main_inner {
      width: 80%;
    }
  }
}
@media (max-width: $mobile){
  p {font-size: 1.5rem;}
  .main_btn {
    margin: 5vw auto;
    width: 200px;
    a {
      padding: 2vw;
    }
  }
}
@media (max-width: $Smobile){
  p {font-size: 1.3rem;}
  h3 {font-size: 1.7rem;}
  .main_btn {
    width: 180px;
    font-size: 1.3rem;
  }
}