@import "../css/reset.scss";

.section {
    background: var(--bg);
    .secInner { 
                display: flex; 
                align-items: center;
                color: var(--text);
                padding: 120px 60px 0;
            
    .introImg {
        width: 50%;
    .backImg {
        background: url(@/assets/images/symbol.png) center no-repeat;
        width: 487px;
        height: 510px;
        background-size: 100%;
        margin: auto;
        padding-top: 10%;
        img {
            width: 500px;
            height: 500px;
        }
    }
    .Title {
        font-size: 2rem;
        font-weight: 700;
        &:before {
            content: "";
            width: 120px;
            height: 3px;
            background: var(--text);
            position: absolute;
            margin-top: -7px;
        }
    }
    }
    .introTxt {
        width: 50%;
    }
}
}
@media (max-width: $tablet) {
    .section {
        height: 100%;
        .secInner{
            display: block;
            padding: 120px 60px;
            .introImg {
                width: 100%;
            }
            .introTxt {
                width: 100%;
                z-index: 100;
            }
        }
    }
}
@media (max-width: $mobile) {
    .section {
        .secInner {
            .introImg {
                .Title {
                    font-size: 1.5rem;
                }
                .backImg {
                    width: 80%;
                    height: 80%;
                    padding-top: 10%;
                    img {
                        width: 90%;
                    }
                }
            }
            
        }
    }
}
@media screen and (min-width: $Smobile) and (max-width: $mobile) {
    p {
        font-size: 0.9rem;
    }
    .Title {
        p {font-size: 1rem;}
    }
    .section {
        .secInner{
            padding: 120px 30px;
            .introImg {
                
            .backImg {
                width: 80%;
                height: 37vh;
                img {
                    left: 0;
                    top: 31%;
                    width: 100%;
                    height: 33vh;
                }

            }
            }
            .introTxt {
                margin: auto;
                width: 100%;
                h4{ 
                    font-size: 1.1rem;
                }
            }
        }
    }
}
@media (max-width: $Smobile) {
    p {
        font-size: 0.8rem;
    }
    .Title {
        p {font-size: 1rem;}
    }
    .section {
        .secInner{
            padding: 120px 30px;
            .introTxt {
                h4 {
                    font-size: 1.1rem;
                }
            }
            .introImg {
            .backImg {
                width: 70%;
                img {
                    left: 0;
                    top: 28%;
                    width: 90%;
                    height: 80%;
                }

            }
        }
        }
    }
}