@import "@/assets/css/reset.scss";

.section {background: var(--bg); height: 100%;}
.main_inner {
    padding: 120px 30px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    .news {
        float: left;
        width: 22%;
        height: 50%;
        text-align: center;
        margin-right: 4%;
        &:nth-child(4n) {
            margin-right: 0;
        }
        .newsImg {
            border-radius: 20px;
            margin: 0 auto;
            width: 100%;
            background: gray;
            img {
                width: 19vw;
                height: 300px;
            }
        }
        .newsTxt {
            padding: 5% 0 7%;
        }
    }
}
@media screen and (min-width: $mobile) and (max-width: $tablet) {
    .main_inner {
        .news {
            width: 48%;
            &:nth-child(2n) {
                margin-right: 0;
            }
            .newsImg {
                img {
                    width: 45vw;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .main_inner {
        .news {
            width: 100%;
            .newsImg {
                img {
                    width: 100%;
                }
            }
        }
    }
}